<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <h1>This is an EJS page</h1>

    <h1 class="bg-success">The weather in Atlanta is currently <%= weatherObject.main.temp %> </h1>

</body>
</html>